body {
    overflow-x: hidden;
}

.background{
  width: 100vw;
  /* height:100; */
  background-color: #555;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url("https://getwrench.com/images/bg/suv.jpg");
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 10%;
}

.pop-up{
  position: relative;
  /* transform: translate(0,100px); */
  width:50%;
  background-color: #fff;
  box-shadow: 10px 10px 7px #111;
  font-family: arial;
  padding: 20px;
  color: #222;
  margin-bottom: 20px;
}

.pop-up .heading {
  color: #f6303e;
  font-family: arial;
  text-align: center;
}

/* .pop-up .container .service-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.pop-up .container .service-item * {
  flex-basis: 50%;
  border: 3px #555 solid;
} */
.container {
  width:100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
/*   position: relative; */
  
}
.container .service {
  border-collapse: collapse;
  width: 90%;
  
}

.pop-up .container th {
  background: #ddd;
}
.pop-up .container .name {
  padding-left: 20px;
}
.pop-up .container td,.pop-up .container th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}